# A program for reverse geocoding - finding address with coordinates

- We can do .tail() or .head() to apply to a function to avoid running the whole chunk of the data
- Always change file location before running this program

In [11]:
import pandas as pd
from geopy.geocoders import Nominatim
import geocoder
import numpy as np

In [12]:
data = pd.read_csv('data2/all_states_all_years_geocoded.csv')
data.head()

,Year,Date_Temp,Date,State,Region,Place,Name,Line Check,Latitude,Longitude,geometry
0,2015,1-Mar,3/1/2015,Johor,Kota Tinggi,Kg. Lepau,"Kg. Lepau, Kota Tinggi, Johor",1,1.389603,104.149358,POINT (104.14935756666667 1.3896034)
1,2015,22/9,22/9/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718)
2,2015,11-May,5/11/2015,Johor,Johor Bahru,Kg. Pasir,"Kg. Pasir, Johor Bahru, Johor",1,1.496672,103.701202,POINT (103.701202 1.4966718)
3,2015,11-Nov,11/11/2015,Johor,Tangkak,"Kg. Pulau Penarik, Sg. Mati","Kg. Pulau Penarik, Sg. Mati, Tangkak, Johor",1,2.137150,102.567195,POINT (102.5671953 2.1371497)
4,2015,11-Nov,11/11/2015,Johor,Kluang,Kg. Paya Mas,"Kg. Paya Mas, Kluang, Johor",1,1.844126,103.301476,POINT (103.3014763 1.844126)

In [13]:
# testing reverse geocode
geolocator = Nominatim(user_agent="u2004763@siswa.um.edu.my")
location = geolocator.reverse("33.76326745, -84.39511726814364")
int(location.address.split(",")[-2].replace(" ", ""))

30313

In [14]:
def geo_rev(row):
    g = geocoder.osm([row.Latitude, row.Longitude], method='reverse').json
    if g:
        return g.get('address')
    else:
        return None

# program testing
# data['Location Returned'] = data[['Latitude', 'Longitude']].head().apply(geo_rev, axis=1)
# data[['Name', 'Location Returned']].head()

# for real run
data['Location Returned'] = data[['Latitude', 'Longitude']].apply(geo_rev, axis=1)

# data['Location Returned'] = data['Location Returned'].head().str.split(", ", expand = False)

data[['Name', 'Location Returned']].head()

,Name,Location Returned
0,"Kg. Lepau, Kota Tinggi, Johor","Jalan Sebana Cove, Kampung Lepau, Pengerang, K..."
1,"Kg. Pasir, Johor Bahru, Johor","Kampong Pasir, Skudai Highway, Taman Tampoi, T..."
2,"Kg. Pasir, Johor Bahru, Johor","Kampong Pasir, Skudai Highway, Taman Tampoi, T..."
3,"Kg. Pulau Penarik, Sg. Mati, Tangkak, Johor","Kampung Pulau Penarek, Sungai Mati, Tangkak, J..."
4,"Kg. Paya Mas, Kluang, Johor","Kampung Paya Mas, Simpang Renggam, Kluang, Joh..."

In [16]:
# export file including NaN for checking
# data.to_csv('data/all_states_all_years_reverse_coded_nan.csv', index=False)

# filter none if available
# data = data.loc[~np.isnan(data["Location Returned"])]

# export csv
data.to_csv('data2/all_states_all_years_reverse_coded_v1.csv', index=False)